





                        // LOADING







@media only screen and (max-width: 1400px) {

    .loadContent {

        h1 {
            font-size: 55px !important;
        }

        p {
            font-size: 25px !important;
        }
        
    }

}

@media only screen and (max-width: 768px) {

    .loadContent {

        h1 {
            font-size: 45px !important;
        }

        p {
            font-size: 20px !important;
        }

    }

}

@media only screen and (max-width: 480px) {

    .loadContent {

        h1 {
            font-size: 35px !important;
        }

        p {
            font-size: 18px !important;
        }

    }

}






                        // NAV







@media only screen and (max-width: 1378px) {

    .navParent {

        a {

            h1 {
                font-size: 45px !important;
            }

            p {
                font-size: 20px !important;
            }

        }

    }

}

@media only screen and (max-width: 1116px) {

    .navParent {

        a {

            h1 {
                font-size: 45px !important;
            }

            p {
                font-size: 18px !important;
            }

        }

    }

}

@media only screen and (max-width: 767px) {

    .navParent {

        .navChild {
            margin: 0 !important;
        }



        a {

            h1 {
                margin-top: 75px !important;
                font-size: 40px !important;
            }

            .before {
                display: none !important;
            }

            P {
                display: none !important;
            }

        }

    }

}

@media only screen and (max-width: 550px) {

    .navParent {

        .navChild {
            margin: 0 !important;
        }



        a {

            h1 {
                margin-top: 75px !important;
                font-size: 35px !important;
            }

        }

    }

}