





                        // NAV





@media only screen and (max-width: 1378px) {

    .navParent {

        a {

            h1 {
                font-size: 45px !important;
            }

            p {
                font-size: 20px !important;
            }

        }

    }

}

@media only screen and (max-width: 1116px) {

    .navParent {

        a {

            h1 {
                font-size: 45px !important;
            }

            p {
                font-size: 18px !important;
            }

        }

    }

}

@media only screen and (max-width: 767px) {

    .navParent {

        .navChild {
            margin: 0 !important;
        }



        a {

            h1 {
                margin-top: 75px !important;
            }

            .before {
                display: none !important;
            }

            P {
                display: none !important;
            }

        }

    }

}

@media only screen and (max-width: 800px) {

    .navRow {
        div:nth-child(1),
        div:nth-child(3) {
            display: none !important;
        }
    }

}






                        // HEADER





@media only screen and (max-width: 1670px) {

    .headerParent {
        width: 50% !important;
        padding-top: 100px;
        padding-bottom: 50px;

        h1 {
            font-size: 65px !important;
        }

        p {
            &::after {
                left: 25% !important;
            }
        }

        h3 {
            font-size: 30px !important;
        }
    }

}

@media only screen and (max-width: 1320px) {

    .headerParent {

        h1 {
            font-size: 55px !important;
        }

        p {
            &::after {
                left: 30% !important;
            }
        }

        h3 {
            font-size: 25px !important;
        }
    }

}

@media only screen and (max-width: 1136px) {

    .headerParent {
        width: 65% !important;

        h1 {
            font-size: 55px !important;
        }

        p {
            &::after {
                left: 27% !important;
            }
        }

        h3 {
            font-size: 25px !important;
        }
    }

}

@media only screen and (max-width: 875px) {

    .headerParent {
        width: 75% !important;
        padding-top: 70px !important;

        h1 {
            font-size: 45px !important;
        }

        h3 {
            font-size: 22px !important;
        }
    }

}

@media only screen and (max-width: 655px) {

    .headerParent {
        width: 75% !important;
        padding-top: 70px !important;

        h1 {
            font-size: 45px !important;
        }

        h3 {
            font-size: 22px !important;
        }
    }

}

@media only screen and (max-width: 800px) {

    .headerParent {

        h1 {
            margin-top: 20px !important;
        }

        p {
            margin: 25px 5px !important;

            &::after {
                display: none !important;
            }
        }

    }

}

@media only screen and (max-width: 685px) {

    .headerParent {

        width: 100% !important;

        h1 {
            margin-left: 5% !important;
        }

        p {
            margin-left: 5% !important;
        }

        h3 {
            margin-left: 5% !important;
        }

    }

}

@media only screen and (max-width: 550px) {

    .headerParent {
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;

        h1 {
            margin-left: 5% !important;
            font-size: 35px !important;
        }

        p {
            margin: 15px !important;
            margin-left: 5% !important;
        }

        h3 {
            font-size: 18px !important;
        }

    }

}






                        // PRINCIPLES






@media only screen and (max-width: 1670px) {

    .principlesParent {
        width: 50% !important;
    }

}

@media only screen and (max-width: 1490px) {

    .principlesParent {
        width: 60% !important;
    }

}

@media only screen and (max-width: 1245px) {

    .principlesParent {

        width: 70% !important;

        h1 {
            font-size: 40px !important;
        }

        h3 {
            font-size: 25px !important;
        }

    }

}

@media only screen and (max-width: 1020px) {

    .principlesParent {

        width: 80% !important;

        h1 {
            font-size: 40px !important;
        }

        h3 {
            font-size: 25px !important;
        }

    }

}

@media only screen and (max-width: 920px) {

    #principlesParent {
        min-height: 970px !important;
    }

    .principlesParent {

        h3 {

            margin-bottom: 20px !important;
        }

        
        img[src = "img/diagram-1.png"],
        img[src = "img/diagram-2.png"],
        img[src = "img/diagram-3.png"] {
            display: none;
        }

    }

}

@media only screen and (max-width: 790px) {

    #principlesParent {
        min-height: 920px !important;
    }

    .principlesParent {
        width: 100% !important;
        margin-left: 5% !important;

        h1 {
            font-size: 35px !important;
        }

        h3 {
            margin-top: 20px !important;
            font-size: 20px !important;
        }
    }

}

@media only screen and (max-width: 590px) {

    .principlesParent {
        width: 100% !important;
        margin-left: 0 !important;
    }

}

@media only screen and (max-width: 550px) {

    .principlesParent {

        h1 {
            text-align: center !important;
        }

        h3 {
            text-align: center !important;
        }

        h2::before {
            display: none !important;
        }

        h2 {
            margin: 0 !important;
            text-align: center !important;
        }

        .principleRow {
            justify-content: center !important;
        }

        p {
            text-align: center !important;
        }
    }

}






                        // SERVICES




                        

@media only screen and (max-width: 1670px) {

    .servicesParent {
        width: 50% !important;
    }

}

@media only screen and (max-width: 1490px) {

    .servicesParent {
        width: 60% !important;
    }

}

@media only screen and (max-width: 1245px) {

    #servicesParent {
        min-height: 890px !important;
    }

    .servicesParent {

        width: 70% !important;

        h1 {
            font-size: 35px !important;
        }

        h3 {
            font-size: 22px !important;
        }

    }

}

@media only screen and (max-width: 850px) {

    .servicesParent {

        width: 85% !important;

        h1 {
            font-size: 35px !important;
        }

        h3 {
            font-size: 22px !important;
        }

        .servicesImgParent {

            display: none !important;
        }

        .servicesContentParent {

            display: block !important;

            .servicesContent {
                margin-top: 40px !important;

                h2 {
                    color: black;
                    font-size: 23px !important;
                    margin-bottom: 20px !important;
                }

                ul {
                    padding: 0 20px 0 15px !important;

                    li {
                        margin-top: 12px !important;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 550px) {

    .servicesParent {

        width: 100% !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;

        h1 {
            text-align: center !important;
            font-size: 35px !important;
        }

        h3 {
            text-align: center !important;
            font-size: 22px !important;
        }

        .servicesContentParent {

            display: block !important;

            .servicesContent {
                margin-top: 40px !important;
                text-align: center !important;

                h2 {
                    text-align: center !important;
                    color: black;
                    font-size: 23px !important;
                    margin-bottom: 20px !important;
                }

                ul {
                    text-align: center !important;
                    padding: 0 !important;
                    list-style: none !important;

                    li {
                        margin-top: 12px !important;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}





                        // SERVICES




   

@media only screen and (max-width: 1670px) {

    .clientsParent {
        width: 50% !important;
    }

}

@media only screen and (max-width: 1490px) {

    .clientsParent {
        width: 60% !important;
    }

}

@media only screen and (max-width: 1245px) {

    .clientsParent {
        width: 70% !important;
    }

}

@media only screen and (max-width: 850px) {

    .clientsParent {
        width: 100% !important;

        h1 {
            font-size: 40px !important;
            text-align: center !important;
        }

        .clientsImgParent {
            display: block !important;
            align-items: center !important;
            justify-content: center !important;
            text-align: center !important;

            img {
                width: 65% !important;
            }
        }
    }

}

@media only screen and (max-width: 550px) {

    .clientsParent {

        h1 {
            font-size: 35px !important;
        }

        .clientsImgParent {

            img {
                width: 100% !important;
            }
        }
    }

}





                        // TEAM





@media only screen and (max-width: 1400px) {

    #team {
        min-height: 950px !important;
    }

}

@media only screen and (max-width: 1200px) {

    #team {
        min-height: 900px !important;
    }

}

@media only screen and (max-width: 991px) {

    #team {
        min-height: 800px !important;

        .teamParent {

            .teamContentParent {

                h3 {
                    font-size: 19px !important;
                }

                p {
                    font-size: 16px !important;
                }
            }
        }
    }

}

@media only screen and (max-width: 767px) {

    #team {

        .teamParent {

            h1 {
                text-align: center !important;
                margin-left: 0 !important;
                font-size: 40px !important;
            }

            .teamContentParent {

                h3 {
                    font-size: 22px !important;
                }

                p {
                    font-size: 20px !important;
                }
            }
        }
    }

}

@media only screen and (max-width: 1670px) {

    .teamResumeParent {
        width: 50% !important;
    }

}

@media only screen and (max-width: 1490px) {

    .teamResumeParent {
        width: 62% !important;
    }

}

@media only screen and (max-width: 1310px) {

    .teamResumeParent {
        width: 70% !important;
    }

}

@media only screen and (max-width: 1130px) {

    .teamResumeParent {
        width: 80% !important;
    }

}

@media only screen and (max-width: 990px) {

    .teamResumeParent {
        margin-top: 0 !important;
    }

    .resumeContent {

        h1 {
            font-size: 70px !important;
        }

        .counterParent .counterRow .counterCol div {
            margin: 0 10px !important;

            i {
                font-size: 50px !important;
            }
        }

    }

}

@media only screen and (max-width: 890px) {

    .teamResumeParent {
        width: 90% !important;
    }

    .resumeContent {

        h1 {
            font-size: 70px !important;
        }

        .counterParent .counterRow {

            // display: block !important;

            .counterCol div {
                margin: 0 10px !important;
    
                i {
                    font-size: 50px !important;
                }
            }

        } 

    }

}

@media only screen and (max-width: 890px) {

    .teamResumeParent {
        width: 100% !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;

        .btnParent {
            margin: 0 auto;
            width: 80% !important;
        }
    }

    .resumeContent {

        h1 {
            font-size: 70px !important;
        }

        h2 {

            &::before {
                transform: translate(-50%, -50%);
                top: 0;
                left: 50% !important;
            }
        }

        .counterParent .counterRow {
            display: block !important;

            .counterCol {
                align-items: center !important;
                justify-content: center !important;
                text-align: center !important;

                div {
                    margin: 0 10px !important;
    
                    i {
                        font-size: 50px !important;
                    }
                }
            }

        } 

    }

}

@media only screen and (max-width: 600px) {

    .resumeContent {

        h1 {
            font-size: 60px !important;
        }
    }

}

@media only screen and (max-width: 480px) {

    .teamResumeParent {
        width: 100% !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;

        .btnParent {
            width: 100% !important;
        }
    }

    #back,
    #next {
        margin: 0 !important;
    }

    .resumeContent {

        h1 {
            font-size: 50px !important;
        }
    }

}

@media only screen and (max-width: 380px) {

    .resumeContent {

        h1 {
            font-size: 45px !important;
        }
    }

}





                        // FOOTER





@media only screen and (max-width: 1560px) {

    .footerParent2 {
        padding: 80px 0 !important;
    
        .footerContent2 {
            width: 50% !important;
        }
    
    }

}

@media only screen and (max-width: 1460px) {

    .footerParent {
        padding: 100px 0 !important;
    
        .footerContent {
            margin: 0 auto;
            text-align: start;
            justify-content: flex-start;
            align-items: flex-start;
            width: 60% !important;
        }
    
    }

}

@media only screen and (max-width: 1260px) {

    .footerParent2 {
        padding: 80px 0 !important;
    
        .footerContent2 {
            width: 60% !important;

            h1 {
                font-size: 28px !important;
            }
        }
    
    }

}

@media only screen and (max-width: 1050px) {

    .footerParent2 {
        padding: 70px 0 !important;
    
        .footerContent2 {
            width: 75% !important;

            h1 {
                font-size: 28px !important;
            }
        }
    
    }

}

@media only screen and (max-width: 980px) {

    .footerParent {
        padding: 90px 0 !important;
    
        .footerContent {
            margin: 0 auto;
            text-align: start;
            justify-content: flex-start;
            align-items: flex-start;
            width: 75% !important;
        }
    
    }

}

@media only screen and (max-width: 900px) {

    .footerParent2 .footerContent2 .hrefParent>div:nth-child(2) a {
        margin-right: 0 !important;
    }

}

@media only screen and (max-width: 840px) {

    .hrefParent {
        display: block !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;

        div {
            justify-content: center !important;
            align-items: center !important;
            text-align: center !important;
            margin: 10px 0 !important;
        }
    }

    .footerParent2 .footerContent2 .hrefParent>div:first-child div i {
        display: none !important;
    }

    .footerParent2 .footerContent2 {
        text-align: center;
    }

}

@media only screen and (max-width: 785px) {

    .footerParent {
        padding: 80px 0 !important;
    
        .footerContent {
            margin: 0 auto;
            text-align: start;
            justify-content: flex-start;
            align-items: flex-start;
            width: 85% !important;

            h3 {
                font-size: 25px !important;
            }

        }
    
    }

}

@media only screen and (max-width: 600px) {

    .footerParent {
        padding: 80px 0 !important;
    
        .footerContent {
            margin: 0 auto;
            text-align: center !important;
            justify-content: center !important;
            align-items: center !important;
            width: 100% !important;

            h3 {
                font-size: 22px !important;
            }

        }
    
    }

    .footerParent2 .footerContent2 {
        width: 100% !important;
    }

    #email {
        display: block;
        margin: 0 auto !important;
        margin-bottom: 20px !important;
        width: 90% !important;
    }

    #submit {
        width: 40% !important;
    }

}