





                        // NAV





@media only screen and (max-width: 1378px) {

    .navParent {

        a {

            h1 {
                font-size: 45px !important;
            }

            p {
                font-size: 20px !important;
            }

        }

    }

}

@media only screen and (max-width: 1116px) {

    .navParent {

        a {

            h1 {
                font-size: 45px !important;
            }

            p {
                font-size: 18px !important;
            }

        }

    }

}

@media only screen and (max-width: 767px) {

    .navParent {

        .navChild {
            margin: 0 !important;
        }



        a {

            h1 {
                margin-top: 75px !important;
            }

            .before {
                display: none !important;
            }

            P {
                display: none !important;
            }

        }

    }

}

@media only screen and (max-width: 800px) {

    .navRow {
        div:nth-child(1),
        div:nth-child(3) {
            display: none !important;
        }
    }

}






                        // HEADER





@media only screen and (max-width: 1670px) {

    .headerParent {
        width: 50% !important;
        padding-top: 100px;
        padding-bottom: 50px;

        h1 {
            font-size: 65px !important;
        }

        p {
            &::after {
                left: 25% !important;
            }
        }

        h3 {
            font-size: 30px !important;
        }
    }

}

@media only screen and (max-width: 1320px) {

    .headerParent {

        h1 {
            font-size: 55px !important;
        }

        p {
            &::after {
                left: 30% !important;
            }
        }

        h3 {
            font-size: 25px !important;
        }
    }

}

@media only screen and (max-width: 1136px) {

    .headerParent {
        width: 65% !important;

        h1 {
            font-size: 55px !important;
        }

        p {
            &::after {
                left: 27% !important;
            }
        }

        h3 {
            font-size: 25px !important;
        }
    }

}

@media only screen and (max-width: 875px) {

    .headerParent {
        width: 75% !important;
        padding-top: 70px !important;

        h1 {
            font-size: 45px !important;
        }

        h3 {
            font-size: 22px !important;
        }
    }

}

@media only screen and (max-width: 655px) {

    .headerParent {
        width: 75% !important;
        padding-top: 70px !important;

        h1 {
            font-size: 45px !important;
        }

        h3 {
            font-size: 22px !important;
        }
    }

}

@media only screen and (max-width: 800px) {

    .headerParent {

        h1 {
            margin-top: 20px !important;
        }

        p {
            margin: 25px 5px !important;

            &::after {
                display: none !important;
            }
        }

    }

}

@media only screen and (max-width: 685px) {

    .headerParent {

        width: 100% !important;

        h1 {
            margin-left: 5% !important;
        }

        p {
            margin-left: 5% !important;
        }

        h3 {
            margin-left: 5% !important;
        }

    }

}

@media only screen and (max-width: 550px) {

    .headerParent {
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;

        h1 {
            margin-left: 5% !important;
            font-size: 35px !important;
        }

        p {
            margin: 15px !important;
            margin-left: 5% !important;
        }

        h3 {
            font-size: 18px !important;
        }

    }

}






                        // PRINCIPLES





@media only screen and (max-width: 1670px) {

    .principlesParent {
        width: 50% !important;
    }

}

@media only screen and (max-width: 1490px) {

    .principlesParent {
        width: 60% !important;
    }

}

@media only screen and (max-width: 1245px) {

    .principlesParent {

        width: 70% !important;

        h1 {
            font-size: 40px !important;
        }

        h3 {
            font-size: 25px !important;
        }

    }

}

@media only screen and (max-width: 1020px) {

    .principlesParent {

        width: 80% !important;

        h1 {
            font-size: 40px !important;
        }

        h3 {
            font-size: 25px !important;
        }

    }

}

@media only screen and (max-width: 920px) {

    #principlesParent {
        min-height: 970px !important;
    }

    .principlesParent {

        h3 {

            margin-bottom: 20px !important;
        }

        
        img[src = "img/diagram-1.png"],
        img[src = "img/diagram-2.png"],
        img[src = "img/diagram-3.png"] {
            display: none;
        }

    }

}

@media only screen and (max-width: 790px) {

    #principlesParent {
        min-height: 920px !important;
    }

    .principlesParent {
        width: 100% !important;
        margin-left: 5% !important;

        h1 {
            font-size: 35px !important;
        }

        h3 {
            margin-top: 20px !important;
            font-size: 20px !important;
        }
    }

}

@media only screen and (max-width: 590px) {

    .principlesParent {
        width: 100% !important;
        margin-left: 0 !important;
    }

}

@media only screen and (max-width: 550px) {

    .principlesParent {

        h1 {
            text-align: center !important;
        }

        h3 {
            text-align: center !important;
        }

        h2::before {
            display: none !important;
        }

        .principleRow {
            justify-content: center !important;
        }

        p {
            text-align: center !important;
        }
    }

}