
@media only screen and (max-width: 1378px) {

    .navParent {

        a {

            h1 {
                font-size: 45px !important;
            }

            p {
                font-size: 20px !important;
            }

        }

    }

}

@media only screen and (max-width: 1116px) {

    .navParent {

        a {

            h1 {
                font-size: 45px !important;
            }

            p {
                font-size: 18px !important;
            }

        }

    }

}

@media only screen and (max-width: 1012px) {

    .navParent {
        display: block !important;

        a {
            height: 25% !important;
            width: 100% !important;

            &:hover {
                background-color: transparent;
            }

            h1 {
                margin-top: 13% !important;
                font-size: 55px !important;
            }

            .before {
                display: none !important;
            }

            P {
                display: none !important;
            }

        }

    }

}

@media only screen and (max-width: 800px) {

    .navRow {
        div:nth-child(1),
        div:nth-child(3) {
            display: none !important;
        }
    }

}