@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    outline: none !important;
    text-decoration: none !important;
}

$secColor1: #f5f6fa;
$secColor2: white;
$gray: #9898a6;
$transition: .5s;
$font-family1: 'EB Garamond', serif;
$font-family2: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

body {
    resize: none;
    user-select: none;
    background-color: white;
}

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: rgba(152, 152, 166, 0.7);

    &:hover {
        background-color: rgba(152, 152, 166, 0.85);
    }

    &:active {
        background-color: rgba(152, 152, 166, 1);
    }
}

@mixin button($color, $padding, $hoverColor) {
    color: $color;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid $color;
    padding: $padding / 2.7 $padding * 2;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: $transition;

    &:hover {
        background-color: $color;
        border: 1px solid transparent;
        color: $hoverColor;
    }
}





                        // NAV





nav {
    display: none;
}

.navParent {
    position: fixed;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #000222;
    z-index: 9999;

    .row {
        height: 100% !important;
    }

    .col-md-3{
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
        margin: 0 !important;
        padding: 0 !important;
        transition: $transition;

        &:hover {
            background-color: #c22081;
        }
    }

    .navIcon {
        color: white;
        font-size: 45px;
        top: 35px;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 1;
        transition: $transition;
        cursor: pointer;

        &:hover {
            color: #c22081;
        }
    }

    a {
        transition: $transition;
        cursor: pointer;

        .navChild {
            margin: 350px 0;
            padding: 0 10px;
        }

        h1 {
            color: white;
            font-family: $font-family2;
            letter-spacing: 1px;
            font-size: 50px;
            opacity: 0;
            animation: navH1Anim 1s forwards;

            @keyframes navH1Anim {

                0% {
                    opacity: 0;
                    transform: translateY(-100%);
                }

                100% {
                    opacity: 1;
                    transform: translateY(0%);
                }

            }

        }

        .before {
            width: 0%;
            height: 1px;
            transform: translate(-50%, -50%);
            margin-left: 50%;
            transform-origin: center;
            margin-top: 40px;
            background-color: rgb(255 255 255 / 70%);
            animation: navBeforeAnim 1s forwards 1s;

            @keyframes navBeforeAnim {

                0% {
                    width: 0%;
                }

                100% {
                    width: 60%;
                }

            }

        }

        p {
            color: rgb(255 255 255 / 70%);
            margin-top: 40px;
            font-family: $font-family1;
            font-size: 25px;
            position: relative;
            opacity: 0;
            animation: navP1Anim 1s forwards .3s;

            @keyframes navP1Anim {

                0% {
                    opacity: 0;
                    transform: translateY(-100%);
                }

                100% {
                    opacity: 1;
                    transform: translateY(0%);
                }

            }

        }
    }
}

.navRow {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70px;
    background-color: white;
    z-index: 99999;
    position: fixed;
    width: 100%;

    div:nth-child(1) {
        text-align: end;

        a {
            color: black;
        }
        
        h2 {
            font-size: 25px;
        }
    }

    div:nth-child(2) {
        text-align: center;

        .navIcon2 {
            color: gray;
            font-size: 45px;
            transition: $transition;
            cursor: pointer;
    
            &:hover {
                color: #c22081;
            }
        }
    }

    div:nth-child(3) {
        text-align: start;
        
        h2 {
            font-size: 20px;
        }
    }

    div {
        width: 33.3%;
    }
}





                        // HEADER




   
header section {
    background-color: $secColor2;
}

.headerParent {
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin: 0 auto;
    padding-top: 100px; 
    padding-bottom: 70px;
    
    .headerChild {
        margin: 0 auto;

        h1 {
            font-family: $font-family2;
            font-size: 70px;
            letter-spacing: 1px;
            margin-top: 60px;
            animation: headerAnim2 1s forwards .8s;
            opacity: 0;

            @keyframes headerAnim2 {

                0% {
                    opacity: 0;
                    transform: translateX(-100px);
                }

                100% {
                    opacity: 1;
                    transform: translateX(0);
                }

            }
        }

        .headerLink {
            color: $gray;
            font-size: 35px;
            letter-spacing: 2px;
            font-family: $font-family1;
            animation: headerAnim3 1s forwards 1.1s;
            margin-top: 40px;
            opacity: 0;
            padding-bottom: 2px;
            transition: $transition;
            border-bottom: 1px solid transparent;

            @keyframes headerAnim3 {

                0% {
                    opacity: 0;
                    transform: translateX(-100px);
                }

                100% {
                    opacity: 1;
                    transform: translateX(0);
                }

            }
        }
    }
}





                        // MAIN





.scroll-bg1 {
    background-position: center -100px;
}

.bg-paralax {
    margin: 0px auto;
    width: 85%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: bgAnim 1s forwards 1.5s;
    overflow: hidden;
    opacity: 0;

    @keyframes bgAnim {

        0% {
            opacity: 0;
            transform: translateX(-100px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }

    }

    .img1 {
        width: 100%;
        display: none;
    }
}

.ubisoftContentParent {
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin: 0 auto;
    padding: 60px 0;
    animation: mainContent1 1s forwards 1.5s;
    opacity: 0;

    @keyframes mainContent1 {

        0% {
            opacity: 0;
            transform: translateX(-100px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }

    }

    h2 {
        color: black;
        letter-spacing: 1px;
        font-family: $font-family2;
        margin-bottom: 40px;
        font-size: 30px;
        font-weight: 600;
    }

    p {
        color: $gray;
        letter-spacing: 1px;
        font-size: 18px;
        font-weight: 400;
    }
}

.ubisoftContentParent {
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin: 0 auto;
    padding: 60px 0;
    animation: mainContent1 1s forwards 1.5s;
    opacity: 0;

    @keyframes mainContent1 {

        0% {
            opacity: 0;
            transform: translateX(-100px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }

    }

    h2 {
        color: black;
        letter-spacing: 1px;
        font-family: $font-family2;
        margin-bottom: 40px;
        font-size: 30px;
        font-weight: 600;
    }

    p {
        color: $gray;
        letter-spacing: 1px;
        font-size: 18px;
        font-weight: 400;
    }

    div {
        margin: 60px 0;

        img {
            width: 100%;
        }
    }
}





                        // FOOTER





.footerParent {
    width: 100%;
    padding: 120px 0;
    background-image: linear-gradient(to right, #6550ac, #cc2886, #e13930);

    .footerContent {
        margin: 0 auto;
        text-align: start;
        justify-content: flex-start;
        align-items: flex-start;
        width: 40%;

        h1 {
            color: white;
            font-family: $font-family2;
            letter-spacing: 1px;
            font-weight: 600;
        }

        h3 {
            color: white;
            letter-spacing: 1px;
            font-family: $font-family1;
            font-weight: 400;
            font-size: 30px;
            margin: 20px 0;
        }

        button {
            @include button(white, 20px, #6550ac);
            margin-top: 10px;
        }
    }
}

.footerParent2 {
    width: 100%;
    padding: 100px 0;
    padding-bottom: 120px;
    background-color: #000222;

    .footerContent2 {
        width: 40%;
        margin: 0 auto;
        
        .hrefParent {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: start;
            width: 100%;

            > div:nth-child(1) {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                text-align: start;
                width: 100%;
    
                div {
    
                    i {
                        color: white;
                        font-size: 45px;
                        margin-right: 10px;
    
    
                    }
    
                    a {
                        color: white;
                        font-size: 21px;
                        letter-spacing: 1px;
                        font-weight: normal;
                        font-family: $font-family1;
                        margin-left: 10px;
                        border-bottom: 1px solid transparent;
                        padding-bottom: 2px;
                        transition: $transition;
    
                        &:hover {
                            color: #cc2886;
                            border-bottom: 1px solid #cc2886;
                        }
                    }
    
                }
            }

            > div:nth-child(2) {
                align-items: center;
                justify-content: flex-end;
                text-align: end;
                width: 100%;
    
                a {
                    margin-right: 10px;
                    color: white;
                    padding: 15px;
                    margin-right: 10px;
                    font-size: 22px;
                    transition: $transition;
    
                    &:hover {
                        color: #cc2886;
                    }
                }
            }
        }

        h1 {
            color: white;
            font-size: 35px;
            font-family: $font-family2;
            letter-spacing: 1px;
            font-weight: 600;
            margin-top: 60px;
        }

        .formParent {
            width: 100%;
            margin-top: 60px;

            #email {
                border: none;
                outline: none;
                width: 70%;
                height: 35px;
                padding: 25px;
                background-color: transparent;
                border: 1px solid $gray;
                color: $gray;

                &::placeholder {
                    color: $gray;
                }

                &:focus {
                    border: 1px solid white;
                }

                &:focus::placeholder {
                    color: white;
                }
            }

            #submit {
                width: 29%;
                border: none;
                outline: none;
                height: 52px;
                background-color: transparent;
                border: 1px solid $gray;
                color: $gray;
                text-transform: uppercase;
            }
        }
    }
}