





                        // NAV





@media only screen and (max-width: 1378px) {

    .navParent {

        a {

            h1 {
                font-size: 45px !important;
            }

            p {
                font-size: 20px !important;
            }

        }

    }

}

@media only screen and (max-width: 1116px) {

    .navParent {

        a {

            h1 {
                font-size: 45px !important;
            }

            p {
                font-size: 18px !important;
            }

        }

    }

}

@media only screen and (max-width: 767px) {

    .navParent {

        .navChild {
            margin: 0 !important;
        }



        a {

            h1 {
                margin-top: 75px !important;
                font-size: 40px !important;
            }

            .before {
                display: none !important;
            }

            P {
                display: none !important;
            }

        }

    }

}

@media only screen and (max-width: 550px) {

    .navParent {

        .navChild {
            margin: 0 !important;
        }



        a {

            h1 {
                margin-top: 75px !important;
                font-size: 35px !important;
            }

        }

    }

}

@media only screen and (max-width: 800px) {

    .navRow {
        div:nth-child(1),
        div:nth-child(3) {
            display: none !important;
        }
    }

}






                        // HEADER





@media only screen and (max-width: 1670px) {

    .headerParent {
        width: 50% !important;
        padding-top: 100px;
        padding-bottom: 50px;

        h1 {
            font-size: 65px !important;
        }

        p {
            &::after {
                left: 25% !important;
            }
        }

        h3 {
            font-size: 30px !important;
        }
    }

}

@media only screen and (max-width: 1320px) {

    .headerParent {

        h1 {
            font-size: 55px !important;
        }

        p {
            &::after {
                left: 30% !important;
            }
        }

        h3 {
            font-size: 25px !important;
        }
    }

}

@media only screen and (max-width: 1136px) {

    .headerParent {
        width: 65% !important;

        h1 {
            font-size: 55px !important;
        }

        p {
            &::after {
                left: 27% !important;
            }
        }

        h3 {
            font-size: 25px !important;
        }
    }

}

@media only screen and (max-width: 875px) {

    .headerParent {
        width: 75% !important;
        padding-top: 70px !important;

        h1 {
            font-size: 45px !important;
        }

        h3 {
            font-size: 22px !important;
        }
    }

}

@media only screen and (max-width: 800px) {

    .headerParent {

        h1 {
            margin-top: 20px !important;
        }

        p {
            margin: 25px 5px !important;

            &::after {
                display: none !important;
            }
        }

    }

}

@media only screen and (max-width: 685px) {

    .headerParent {

        width: 100% !important;

        h1 {
            margin-left: 5% !important;
        }

        p {
            margin-left: 5% !important;
        }

        h3 {
            margin-left: 5% !important;
        }

    }

}

@media only screen and (max-width: 655px) {

    .headerParent {
        width: 75% !important;
        padding-top: 70px !important;
        padding-bottom: 0 !important;

        h1 {
            font-size: 45px !important;
        }

        h3 {
            font-size: 22px !important;
        }
    }

}

@media only screen and (max-width: 550px) {

    .headerParent {
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;

        h1 {
            margin-left: 0 !important;
            text-align: center !important;
            font-size: 28px !important;
        }

        p {
            margin: 15px 0 !important;
            text-align: center !important;
        }

        h3 {
            margin-left: 0 !important;
            text-align: center !important;
            font-size: 18px !important;
        }

    }

}





                        // WORK





@media only screen and (max-width: 1500px) {
    
    .workContent {

        .text {
            margin-left: 55% !important;
        }

        .text2 {
            margin-left: 51% !important;
        }
    
    }

}

@media only screen and (max-width: 1200px) {
    
    .workContent {

        .text {
            margin-left: 50% !important;

            h3 {
                font-size: 35px !important;
            }

            h5 {
                font-size: 18px !important;
            }
        }

        .text2 {
            margin-left: 50% !important;

            h3 {
                font-size: 35px !important;
            }

            h5 {
                font-size: 18px !important;
            }
        }
    
    }

}

@media only screen and (max-width: 1040px) {

    .workContent {

        .text,
        .text2 {

            margin: 0 auto !important;
            text-align: center !important;
            transform: translate(0, 0) !important;

        }

        .text,
        .text2 {

            
            transform: translateX(-30%);
            opacity: 0;
            animation: contactTextAnim .7s forwards .5s;

            @keyframes contactTextAnim {
                
                0% {
                    opacity: 0;
                    transform: translateX(-30%);
                }

                100% {
                    opacity: 1;
                    transform: translateX(0%);
                }

            }

        }

    }

}

@media only screen and (max-width: 850px) {
    
    .workContent {

        .text,
        .text2 {

            h3 {
                font-size: 30px !important;
            }

            h5 {
                font-size: 16px !important;
            }

            button {
                margin: 2px 0 !important;
                padding: 5px 25px !important;
                font-size: 15px !important;
                font-weight: 400 !important;
            }

        }

    }

}

@media only screen and (max-width: 780px) {

    .workParent {
        padding: 0 !important;
        padding-bottom: 40px !important;
    }

    .workContentRow {
        display: block !important;

        .img {
            display: block !important;
            width: 100%;
            margin: 40px 0;
            transform: scale(0);
            animation: scaleAnim .5s forwards .5s;

            @keyframes scaleAnim {
                
                0% {
                    transform: scale(0);
                }

                100% {
                    transform: scale(1.0);
                }

            }

            img {
                width: 100%;
            }
        }

        .none {
            display: none !important;
        }

        .text,
        .text2 {

            h3 {
                font-size: 40px !important;
            }

            h5 {
                font-size: 20px !important;
                margin: 15px 0 !important;
            }

            button {
                margin: 5px 0 !important;
                padding: 5px 25px !important;
                font-size: 16px !important;
                font-weight: 600 !important;
            }

        }
    }

}

@media only screen and (max-width: 470px) {

    .workContentRow {

        .text,
        .text2 {

            h3 {
                font-size: 25px !important;
            }

            h5 {
                font-size: 18px !important;
            }

        }

    }

} 





                        // FOOTER





@media only screen and (max-width: 1560px) {

    .footerParent2 {
        padding: 80px 0 !important;
    
        .footerContent2 {
            width: 50% !important;
        }
    
    }

}

@media only screen and (max-width: 1460px) {

    .footerParent {
        padding: 100px 0 !important;
    
        .footerContent {
            margin: 0 auto;
            text-align: start;
            justify-content: flex-start;
            align-items: flex-start;
            width: 60% !important;
        }
    
    }

}

@media only screen and (max-width: 1260px) {

    .footerParent2 {
        padding: 80px 0 !important;
    
        .footerContent2 {
            width: 60% !important;

            h1 {
                font-size: 28px !important;
            }
        }
    
    }

}

@media only screen and (max-width: 1050px) {

    .footerParent2 {
        padding: 70px 0 !important;
    
        .footerContent2 {
            width: 75% !important;

            h1 {
                font-size: 28px !important;
            }
        }
    
    }

}

@media only screen and (max-width: 980px) {

    .footerParent {
        padding: 90px 0 !important;
    
        .footerContent {
            margin: 0 auto;
            text-align: start;
            justify-content: flex-start;
            align-items: flex-start;
            width: 75% !important;
        }
    
    }

}

@media only screen and (max-width: 900px) {

    .footerParent2 .footerContent2 .hrefParent>div:nth-child(2) a {
        margin-right: 0 !important;
    }

}

@media only screen and (max-width: 840px) {

    .hrefParent {
        display: block !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;

        div {
            justify-content: center !important;
            align-items: center !important;
            text-align: center !important;
            margin: 10px 0 !important;
        }
    }

    .footerParent2 .footerContent2 .hrefParent>div:first-child div i {
        display: none !important;
    }

    .footerParent2 .footerContent2 {
        text-align: center;
    }

}

@media only screen and (max-width: 785px) {

    .footerParent {
        padding: 80px 0 !important;
    
        .footerContent {
            margin: 0 auto;
            text-align: start;
            justify-content: flex-start;
            align-items: flex-start;
            width: 85% !important;

            h3 {
                font-size: 25px !important;
            }

        }
    
    }

}

@media only screen and (max-width: 600px) {

    .footerParent {
        padding: 80px 0 !important;
    
        .footerContent {
            margin: 0 auto;
            text-align: center !important;
            justify-content: center !important;
            align-items: center !important;
            width: 100% !important;

            h3 {
                font-size: 22px !important;
                padding: 0 17px !important;
            }

        }
    
    }

    .footerParent2 .footerContent2 {
        width: 100% !important;

        h1 {
            padding: 0 25px !important;
            font-size: 22px !important;
        }
    }

    #email {
        display: block;
        margin: 0 auto !important;
        margin-bottom: 20px !important;
        width: 90% !important;
    }

    #submit {
        width: 40% !important;
    }

}